.section .paragraph > h2 {
  margin: 4rem 0 2rem;
}

.section .paragraph > p {
  line-height: 36px;
  margin-bottom: 2rem;
  font-weight: 300;
}

.section .paragraph > ul {
  padding: 12px;
}
.section .paragraph > ul > li {
  margin-top: 12px;
}

.section .paragraph > p > i {
  font-style: normal;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #191A21;
  margin: 0 6px;
}

.p-fs-14 {
  font-size: 14px;
}

.p-fs-16 {
  font-size: 16px;
}

.p-fs-18 {
  font-size: 18px;
}

.p-fs-20 {
  font-size: 20px;
}

.p-sub-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 2rem;
}