.home-section {

}

.home-section h2 {
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 32px;
}

.home-section h2 > a {
  margin: 0 12px;
  padding: 6px 12px;
  background-color: #5D61ED;
  border-radius: 6px;
  font-weight: bold;
}

.home-section .home-intro-writer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.home-section .home-intro-writer > i {
  font-style: normal;
  padding: 4px 8px;
  font-size: 14px;
  background-color: gray;
  border-radius: 4px;
  margin-right: 12px;
}